version: "3"

services:
  dashboard:
    container_name: dashboard
    build:
      context: .
      dockerfile: ./packages/dashboard/Dockerfile
      args:
        - API_URL=http://127.0.0.1:52001
    restart: always
    ports:
      - 127.0.0.1:52000:8080

  api:
    container_name: api
    depends_on:
      - redis
    build:
      context: .
      dockerfile: ./packages/api/Dockerfile
    restart: always
    ports:
      - 127.0.0.1:52001:52001
    env_file: config.env

  stitcher:
    container_name: stitcher
    depends_on:
      - redis
    build:
      context: .
      dockerfile: ./packages/stitcher/Dockerfile
    restart: always
    ports:
      - 127.0.0.1:52002:52002
    env_file: config.env

  artisan:
    container_name: artisan
    depends_on:
      - redis
    build:
      context: .
      dockerfile: ./packages/artisan/Dockerfile
    restart: always
    env_file: config.env

  redis:
    image: redis/redis-stack-server:7.2.0-v6
    ports:
      - 6379:6379
    healthcheck:
      test: ["CMD", "redis-cli", "--raw", "incr", "ping"]
    volumes:
      - redis_data:/data

volumes:
  redis_data:
